//Navbar

.navbar {
  text-align: center;
  margin-bottom: 0;

  .app-name {
    display: inline-block;
    font-size: 1.4em;
    margin: 0;
    padding-top: 15px;
  }
}

.container-fluid {
  margin-top: 50px;
  height: calc(100vh - 50px);

  .row {
    height: 100%;
  }
}

//Search area
#search-area {
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  height: calc(100vh - 50px);
  -webkit-user-select: none;
  text-overflow: scroll;

  form {
    margin-top: 25px;
  }

  .top-searches {
    list-style-type: none;
    li:first-child {
      margin-top: 20px;
    }

    .top-search{
      padding: 10px 0;
      text-align: center;
      cursor: pointer;
      border: 1px solid black;
      margin: 10px 0;
      .top-search-link {
        text-decoration: none;
      }
    }
  }

  h3 {
    color: rgba(0, 0, 0, 0.4);
  }
}

#results-area {
  padding-left: 0;
  height: 100%;
  overflow: auto;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}